# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/local.properties
android/.gradle/
android/app/.cxx/
*.keystore
*.jks

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
